{% load static %} <!--Carregar arquivo estatico-->

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilo_inicio.css' %}">

    <title>Meu Portfolio</title>
</head>
<body>

    <h1>Bem-vindo ao nosso Portfolio!</h1>

    {% for projeto_r in projetos_ronaud %}
        <h2>{{ projeto_r.title }} / {{projeto_r.dono}}</h2>

        <h3>{{ projeto_r.description }}</h3>
        <img src="{{ projeto_r.image.url }}"></img>
    {% endfor %}

    <p>Esta é uma página criada com template.</p>


</body>
</html>